<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% block metas %}
            <meta charset="utf-8">
        {% endblock metas %}

        <title>{% block title %}测试网页{% endblock %}</title>
        <!-- <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css' ) }}">
        {% endblock styles %}
    {% endblock head %}
</head>
<body>

    <header class="masthead d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
            <main>
                {% for message in get_flashed_messages() %}
                    <div class="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% block content %}{% endblock %}
            </main>

        </div>

    </header>

<footer>
    {% block footer %}
        <small> &copy; 2022 <a href="#" title="Written by Grey Li">Li Weihao</a> /
            <a href="https://www.sjtu.edu.cn" title="Fork me on GitHub">上海交通大学</a> /
            <a href="http://helloflask.com" title="A HelloFlask project">HelloFlask</a>
        </small>
    {% endblock %}


</footer>
{% block scripts %}{% endblock %}
</body>
</html>

